@use '../root' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--font-h);
}

p {
	margin: 0;
}

.icon {
	// See https://developers.google.com/fonts/docs/material_symbols#use_in_web
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: var(--size-icon);
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	&:hover,
	&.active {
		font-variation-settings: 'FILL' 1;
	}
}
