@use '../root' as *;

.w-max {
	max-width: var(--max-width);
}

.w-page {
	width: var(--max-width);
}

.w-100 {
	width: 100%;
}

.mb-2 {
	margin-bottom: 2em;
}

.b-rad {
	border-radius: var(--border-rad);
}

.p-card {
	padding: 0.5em 1em;
}

.p-1 {
	padding: 1em;
}

.py-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}
