@use '../root' as *;

.d-flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}

.flex-grow {
	flex-grow: 1;
}
