@use '../root' as *;

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font-text);
}

main {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}
